<div style="margin-left: 20px; margin-top: 20px; margin-right: 20px">
  <h1 style="margin-bottom: 20px">TV Show Trends</h1>
  <h5></h5>
  <form name="get_data_form">
    <md-input-container>
      <input ng-keyup="$event.keyCode == 13 && chartsCtrl.get_trend(chartsCtrl.series, chartsCtrl.year, chartsCtrl.imdb_id)" type="text" ng-model="chartsCtrl.imdb_id" placeholder="IMDb ID (if no title)" ng-required="!chartsCtrl.series">
    </md-input-container>
    OR
    <br />
    <md-input-container>
      <input ng-keyup="$event.keyCode == 13 && chartsCtrl.get_trend(chartsCtrl.series, chartsCtrl.year, chartsCtrl.imdb_id)" type="text" ng-model="chartsCtrl.series" placeholder="Show Title (if no IMDb ID)" ng-required="!chartsCtrl.imdb_id">
    </md-input-container>
    <md-input-container>
      <input ng-keyup="$event.keyCode == 13 && chartsCtrl.get_trend(chartsCtrl.series, chartsCtrl.year, chartsCtrl.imdb_id)" type="text" ng-model="chartsCtrl.year" placeholder="Year (Optional)">
    </md-input-container>

    <br />
  </form>
  <md-button mat-button class="md-raised md-primary" ng-disabled="!get_data_form.$valid" type="button" ng-click="chartsCtrl.get_trend(chartsCtrl.series, chartsCtrl.year, chartsCtrl.imdb_id, false)">Individual</md-button>
  <md-button mat-button class="md-raised md-accent" ng-disabled="!get_data_form.$valid || !chartsCtrl.series_list.length > 0" type="button" ng-click="chartsCtrl.get_trend(chartsCtrl.series, chartsCtrl.year, chartsCtrl.imdb_id, true)">Add to compare</md-button>
  
  <div layout="row" gutterSize="20px">
    <div class="opts-container">
      <label>Display options</label>
      <md-switch ng-change="chartsCtrl.prevent_empty_switch('episodes'); chartsCtrl.set_dataset_override(chartsCtrl.options_object, chartsCtrl.chart_title.length > 1)" ng-model="chartsCtrl.episode_data" aria-label="Episode Data">
        Show Episode Data
      </md-switch>
      <md-switch ng-change="chartsCtrl.prevent_empty_switch('trends'); chartsCtrl.set_dataset_override(chartsCtrl.options_object, chartsCtrl.chart_title.length > 1)" ng-model="chartsCtrl.trends" aria-label="Trend Data">
        Show Trendlines
      </md-switch>
      <md-switch ng-change="chartsCtrl.set_options(chartsCtrl.options_object)" ng-model="chartsCtrl.fill" aria-label="Area Chart">
        Area Chart
      </md-switch>
      <md-switch ng-change="chartsCtrl.setOptSelect(); chartsCtrl.scrubDatasets(chartsCtrl.datasets.flat())" ng-model="chartsCtrl.connectSeasons" aria-label="Connect Seasons">
        Connect Seasons
      </md-switch>
    </div>
    <div ng-show="chartsCtrl.series_list.length > 1" class="opts-container">
      <div id="comp-chart-options">
        <label id="multi-chart-type">Select display style</label>
        <md-radio-group aria-label="Select display style" ng-model="chartsCtrl.compType" ng-change="chartsCtrl.scrubDatasets(chartsCtrl.datasets.flat())">
          <md-radio-button value="norm">Normalize</md-radio-button>
          <md-radio-button value="s-align" ng-show="!chartsCtrl.connectSeasons">Align Seasons</md-radio-button>
          <md-radio-button value="raw">Raw</md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <div ng-show="chartsCtrl.series_list.length > 1 && chartsCtrl.compType == 'norm' && !chartsCtrl.connectSeasons" class="opts-container">
      <div id="norm-opts">
        <label id="multi-chart-type">Select Normalization style</label>
        <md-radio-group aria-label="Select display style" ng-model="chartsCtrl.compNormType" ng-change="chartsCtrl.scrubDatasets(chartsCtrl.datasets.flat())">
          <md-radio-button value="s-left">Season, Left-Aligned</md-radio-button>
          <md-radio-button value="s-right">Season, Right-Aligned</md-radio-button>
          <md-radio-button value="full">Full Series</md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <div ng-show="chartsCtrl.series_list.length > 1 && chartsCtrl.compType != 'norm' && !(chartsCtrl.connectSeasons && chartsCtrl.compType == 's-align')" class="opts-container">
      <div id="align-eps">
        <label id="multi-chart-type">Select episode alignment</label>
        <md-radio-group aria-label="Select episode alignment" ng-model="chartsCtrl.compEpAlign" ng-change="chartsCtrl.scrubDatasets(chartsCtrl.datasets.flat())">
          <md-radio-button value="left">Left</md-radio-button>
          <md-radio-button value="right">Right</md-radio-button>
        </md-radio-group>
      </div>
    </div>
    <div ng-show="chartsCtrl.series_list.length > 1 && chartsCtrl.compType == 's-align' && !chartsCtrl.connectSeasons" class="opts-container">
      <div id="align-seasons">
        <label id="multi-chart-type">Select season alignment</label>
        <md-radio-group aria-label="Select episode alignment" ng-model="chartsCtrl.compSeasonAlign" ng-change="chartsCtrl.scrubDatasets(chartsCtrl.datasets.flat())">
          <md-radio-button value="left">Left</md-radio-button>
          <md-radio-button value="right">Right</md-radio-button>
        </md-radio-group>
      </div>
    </div>
  </div>

  <br><br>
  <div style="width: 90%; text-align: center">
   <div class="chart-title"><span ng-repeat="title in chartsCtrl.chart_title track by $index"><b style="text-decoration: {{ chartsCtrl.series_list.length > 1 ? 'underline' : 'none' }}; text-decoration-color: {{ chartsCtrl.colors[$index] }}">{{ title[0]}} <a ng-show="chartsCtrl.series_list.length > 0" href="{{ title[1] }}" style="color: #5555CC !important" target="_blank"> <md-tooltip md-direction="right">See viewing options</md-tooltip><i class="material-icons">open_in_new</i></a></b></span></div>
    <div class="chart-subtitle" ng-show="chartsCtrl.chart_title.length > 0"><i>(click datapoint to open episode info)</i></div>
    <div ng-show="chartsCtrl.loading">
      <p><i style="color: #E98181"><b>Collecting series information....</b></i></p><br>
      <img src="/assets/loading-225aa88b6ab02c06222ec9468d62e15fa188e39cdb9431d1f55401ad380753ed.gif" />
    </div>
    <canvas ng-show="chartsCtrl.showCanvas" width="900" id="chart" class="chart chart-line" chart-data="chartsCtrl.datasets" chart-labels="chartsCtrl.labels" chart-options="chartsCtrl.options" chart-series="chartsCtrl.series_labels" chart-dataset-override="chartsCtrl.dataset_override">
  </div>
</div>