<div style="margin-left: 20px; margin-top: 20px; margin-right: 20px">
  <h1 style="margin-bottom: 20px">TV Show Trends</h1>
  <h5></h5>
  <form name="get_data_form">
    <md-input-container>
      <input ng-keyup="$event.keyCode == 13 && chartsCtrl.get_trend(chartsCtrl.series, chartsCtrl.year, chartsCtrl.imdb_id)" type="text" ng-model="chartsCtrl.imdb_id" placeholder="IMDb ID (if no title)" ng-required="!chartsCtrl.series">
    </md-input-container>
    OR
    <br />
    <md-input-container>
      <input ng-keyup="$event.keyCode == 13 && chartsCtrl.get_trend(chartsCtrl.series, chartsCtrl.year, chartsCtrl.imdb_id)" type="text" ng-model="chartsCtrl.series" placeholder="Show Title (if no IMDb ID)" ng-required="!chartsCtrl.imdb_id">
    </md-input-container>
    <md-input-container>
      <input ng-keyup="$event.keyCode == 13 && chartsCtrl.get_trend(chartsCtrl.series, chartsCtrl.year, chartsCtrl.imdb_id)" type="text" ng-model="chartsCtrl.year" placeholder="Year (Optional)">
    </md-input-container>

    <br />
  </form>
  <md-button mat-button class="md-raised" ng-disabled="!get_data_form.$valid" type="button" ng-click="chartsCtrl.get_trend(chartsCtrl.series, chartsCtrl.year, chartsCtrl.imdb_id)">Submit</md-button>
  
  <md-switch ng-change="chartsCtrl.prevent_empty_switch('episodes'); chartsCtrl.set_dataset_override(chartsCtrl.options_object)" ng-model="chartsCtrl.episode_data" aria-label="Episode Data">
    Show Episode Data
  </md-switch>
  <md-switch ng-change="chartsCtrl.prevent_empty_switch('trends'); chartsCtrl.set_dataset_override(chartsCtrl.options_object)" ng-model="chartsCtrl.trends" aria-label="Trend Data">
    Show Trendlines
  </md-switch>
  
  <br><br>
  <div style="width: 90%; text-align: center">
    <!-- <div class="chart-title"><b>{{ chartsCtrl.chart_title }} <a ng-show="chartsCtrl.chart_title" href="{{ chartsCtrl.watch_link }}" style="color: #5555CC !important" target="_blank" uib-tooltip="See viewing options" tooltip-placement="right"><i class="material-icons">open_in_new</i></a></b></div> -->
    <div class="chart-title"><b>{{ chartsCtrl.chart_title }} <a ng-show="chartsCtrl.chart_title" href="{{ chartsCtrl.watch_link }}" style="color: #5555CC !important" target="_blank"><md-tooltip md-direction="right">See viewing options</md-tooltip><i class="material-icons">open_in_new</i></a></b></div>
    <div class="chart-subtitle" ng-show="chartsCtrl.chart_title"><i>(click datapoint to open episode info)</i></div>
    <div ng-show="chartsCtrl.loading">
      <p><i style="color: #E98181"><b>Collecting series information....</b></i></p><br>
      <img src="/assets/loading-225aa88b6ab02c06222ec9468d62e15fa188e39cdb9431d1f55401ad380753ed.gif" />
    </div>
    <canvas ng-show="chartsCtrl.showCanvas" height="400" width="900" id="chart" class="chart chart-line" chart-data="chartsCtrl.dataset" chart-labels="chartsCtrl.labels" chart-options="chartsCtrl.options" chart-series="chartsCtrl.series_labels" chart-dataset-override="chartsCtrl.dataset_override">
  </div>
</div>