<form name="myForm">
  <fieldset>
    <legend>Upload on form submit</legend>
    File:
    <input type="file" ngf-select ng-model="homeCtrl.file" name="file"    
           accept=".xls,.csv,.xlsx" ngf-max-size="20MB" required
           ngf-model-invalid="errorFile">
    <i ng-show="myForm.file.$error.required">*required</i><br>
    <i ng-show="myForm.file.$error.maxSize">File too large 
        {{errorFile.size / 1000000|number:1}}MB: max 20M</i>
    <br>
    <button ng-disabled="!myForm.$valid" 
            ng-click="homeCtrl.uploadFile(homeCtrl.file)">Submit</button>
    <span class="progress" ng-show="homeCtrl.file.progress >= 0">
      <div style="width:{{homeCtrl.file.progress}}%" 
          ng-bind="homeCtrl.file.progress + '%'"></div>
    </span>
    <span ng-show="homeCtrl.file.result">Upload Successful</span>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
  </fieldset>
  <br>
</form>

<div style="width:100%; text-align:center">
  <h1>Available Movies and Shows</h1>
  <hr>
  <input ng-model="homeCtrl.titleFilter" placeholder="Search by Title"/>
  <input ng-model="homeCtrl.typeFilter" placeholder="Search by Type"/>
  <input ng-model="homeCtrl.genreFilter" placeholder="Search by Genre"/>
  <input ng-model="homeCtrl.actorFilter" placeholder="Search by Actor"/>
  <input ng-model="homeCtrl.directorFilter" placeholder="Search by Director"/>
  <input ng-model="homeCtrl.locationFilter" placeholder="Search by Storage"/>
  <hr>
  
  <v-accordion class="vAccordion--default">

    <!-- add expanded attribute to open the section -->
    <v-pane>
      <v-pane-header>
        <b><i>Browse Genres, Actors, or Directors</i></b>
      </v-pane-header>
  
      <v-pane-content>
        <v-accordion class="vAccordion--default">
    
          <!-- add expanded attribute to open the section -->
          <v-pane>
            <v-pane-header>
              <span class="browse-header"><b>Genres</b></span>
            </v-pane-header>
            <v-pane-content style="display: inline-block">
              <ul>
                <span class="browse-items" ng-repeat="genre in homeCtrl.genres" ng-click="homeCtrl.browseButton('genre', genre.name)"><u>{{ genre.name }}</u></span>
              </ul>
            </v-pane-content>
          </v-pane>
          <v-pane>
            <v-pane-header>
              <span class="browse-header"><b>Actors</b></span>
            </v-pane-header>
            <v-pane-content style="display: inline-block">
              <span class="browse-items" ng-repeat="actor in homeCtrl.actors" ng-click="homeCtrl.browseButton('actor', actor.name)"><u>{{ actor.name }}</u></span>
            </v-pane-content>
          </v-pane>
          <v-pane>
            <v-pane-header>
              <span class="browse-header"><b>Directors</b></span>
            </v-pane-header>
            <v-pane-content style="display: inline-block">
              <span class="browse-items" ng-repeat="director in homeCtrl.directors" ng-click="homeCtrl.browseButton('director', director.name)"><u>{{ director.name }}</u></span>
            </v-pane-content>
          </v-pane>
        
        </v-accordion>
      </v-pane-content>
    </v-pane>
  
  </v-accordion>
  <!--<pagination boundary-links="true" -->
  <!--    max-size="10" -->
  <!--    items-per-page="homeCtrl.itemsPerPage"-->
  <!--    total-items="homeCtrl.listings.length" -->
  <!--    ng-model="homeCtrl.currentPage" -->
  <!--    ng-change="homeCtrl.pageChanged()"></pagination>-->
  <p>Showing <b>{{ filtered.length }}</b> listing(s) out of <b>{{ homeCtrl.listings.length }}</b></p>
  <hr>
</div>


<section class="mdl-grid" id="listings">
  <div style="width:100%">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr style="background-color:#cccccc;">
          <th style="width:60%; text-align: left" ng-click="homeCtrl.sortFunction('title')">
            Title
            <md-icon ng-show="homeCtrl.sort == 'title'" md-font-library="material-icons">{{ homeCtrl.icon }}</md-icon>
          </th>
          <th style="width:15%; text-align: left" ng-click="homeCtrl.sortFunction('year')">
            Year
            <md-icon ng-show="homeCtrl.sort == 'year'" md-font-library="material-icons">{{ homeCtrl.icon }}</md-icon>
          </th>
          <th style="width:15%; text-align: left" ng-click="homeCtrl.sortFunction('media_type')">
            Type
            <md-icon ng-show="homeCtrl.sort == 'media_type'" md-font-library="material-icons">{{ homeCtrl.icon }}</md-icon>
          </th>
          <th style="width:15%; text-align: left" ng-click="homeCtrl.sortFunction('location')">
            Storage
            <md-icon ng-show="homeCtrl.sort == 'location'" md-font-library="material-icons">{{ homeCtrl.icon }}</md-icon>
          </th>
          <th style="width:15%; text-align: left" ng-click="homeCtrl.sortFunction('runtime')">
            Runtime
            <md-icon ng-show="homeCtrl.sort == 'runtime'" md-font-library="material-icons">{{ homeCtrl.icon }}</md-icon>
          </th>
          <th style="width:10%; text-align: left" ng-click="homeCtrl.sortFunction('imdb_rating')">
            IMDB
            <md-icon ng-show="homeCtrl.sort == 'imdb_rating'" md-font-library="material-icons">{{ homeCtrl.icon }}</md-icon>
          </th>
          <th style="width:10%; text-align: left" ng-click="homeCtrl.sortFunction('rt_rating')">
            RT
            <md-icon ng-show="homeCtrl.sort == 'rt_rating'" md-font-library="material-icons">{{ homeCtrl.icon }}</md-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="listing in filtered = (homeCtrl.listings | orderBy: homeCtrl.sort : homeCtrl.reverseSort | filter: {title: homeCtrl.titleFilter} | filter: {media_type: homeCtrl.typeFilter} | filter: {genres: homeCtrl.genreFilter} | filter: {actors: homeCtrl.actorFilter} | filter: {directors: homeCtrl.directorFilter} | filter: {writers: homeCtrl.writerFilter} | filter: {location: homeCtrl.locationFilter})">
          <td>
            <a ng-href="http://www.imdb.com/title/{{ listing.imdb_id }}" target="_blank" >{{ listing.title }}</a>
            <div class="relative-wrap">
              <div class="overflow-wrap">
                <div class="popover">
                  <b>Title:</b>  {{ listing.title }} <br />
                  <b>Genre:</b>  {{ listing.genres }} <br />
                  <b>Actors:</b>  {{ listing.actors }} <br />
                  <b>Directors:</b> {{ listing.directors }} <br />
                  <b>Plot:</b> {{ listing.plot }} <br />
                  <b>Owner:</b> {{ listing.owner }}  <br />
                  <b>Notes:</b> {{ listing.notes }}
                </div>
              </div>
            </div>
          </td>
          <td>{{ listing.year }}</td>
          <td>{{ listing.media_type }}</td>
          <td>{{ listing.location }}</td>
          <td>{{ listing.runtime }}</td>
          <td>{{ listing.imdb_rating | number:1 }}</td>
          <td>{{ listing.rt_rating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!--<div style="width:100%; text-align:center">-->
<!--  <pagination boundary-links="true" -->
<!--      max-size="10" -->
<!--      items-per-page="homeCtrl.itemsPerPage"-->
<!--      total-items="homeCtrl.listings.length" -->
<!--      ng-model="homeCtrl.currentPage" -->
<!--      ng-change="homeCtrl.pageChanged()"></pagination>-->
<!--</div>-->

<div style="width:100%; text-align:center">
  <label>Add listings password</label>
  <input type="password" ng-model="homeCtrl.password">
</div>

<div style="width:100%;text-align:center; margin-bottom:30px" ng-show="homeCtrl.password == homeCtrl.password_check">
  <h3>Add a new listing</h3>
  <form name="new_listing_form" style='width: 100%' ng-submit="homeCtrl.add_listing(homeCtrl.newListing.title, homeCtrl.newListing.media_type, homeCtrl.newListing.location, homeCtrl.newListing.owner, homeCtrl.newListing.genres, homeCtrl.newListing.actors, homeCtrl.newListing.directors, homeCtrl.newListing.imdb_rating)">
    <div layout='column' layout-align='center stretch' style='width: 100%'>
      <md-input-container md-no-float>
        <input type="text" ng-model="homeCtrl.newListing.title" placeholder="Title">
       </md-input-container>
      <md-input-container md-no-float>
        <input type="text" ng-model="homeCtrl.newListing.media_type" placeholder="Type">
       </md-input-container>
      <md-input-container md-no-float>
        <input type="text" ng-model="homeCtrl.newListing.location" placeholder="Location">
       </md-input-container>
      <md-input-container md-no-float>
        <input type="text" ng-model="homeCtrl.newListing.owner" placeholder="Owner">
       </md-input-container>
      <md-input-container md-no-float>
        <input type="text" ng-model="homeCtrl.newListing.genres" placeholder="Genres">
       </md-input-container>
      <md-input-container md-no-float>
        <input type="text" ng-model="homeCtrl.newListing.actors" placeholder="Actors">
       </md-input-container>
      <md-input-container md-no-float>
        <input type="text" ng-model="homeCtrl.newListing.directors" placeholder="Directors">
      </md-input-container>
      <md-input-container md-no-float>
        <input type="text" ng-model="homeCtrl.newListing.imdb_rating" placeholder="IMDB Rating">
      </md-input-container>
      <!--<md-input-container class="settings-input" ng-hide="teamsCtrl.league_settings.rank_type != 'Composite' || teamsCtrl.league_settings.update_frequency == 'Never' || teamsCtrl.league_settings.game_code === 'nfl'">
        <label style="overflow:visible">Exclude Outlier?</label>
        <md-select ng-model="teamsCtrl.league_settings.excl_outlier" ng-disabled="teamsCtrl.league_settings.rank_type != 'Composite' || teamsCtrl.league_settings.update_frequency == 'Never'">
          <md-option label="Yes" value="true">Yes</md-option>
          <md-option label="No" value="false">No</md-option>
        </md-select>
      </md-input-container>-->
      <button class="md-raised" style="margin-top:15px" type="submit">Update</button>
    </div>
  </form>
</div>