<md-content data-turbolinks="false">
  <div id='first-parallax' ng-parallax pattern="'assets/luca-bravo-2-ebe94f46973326003b7f58035f9d4c1a37790007fa646e80962f243bd870a30d.jpg'" speed="15">
  </div>
  <!--skills -->
  <div id="skills">
    <div id="skill-container">
      <!--<div ng-class="{'active-skill': homeCtrl.allSkillsSelected, 'inactive-skill': !homeCtrl.allSkillsSelected }" style="text-align:center; width: 100%" ng-click="homeCtrl.selectAll()"><i><u>Select All</u></i></div><br>-->
      <div style="color:white"><i>Select skills</i></div>
      <span ng-repeat="skill in homeCtrl.skills">
        <span ng-class="{'active-skill': skill['show'], 'inactive-skill': !skill['show'] }" id={{skill['short']}} ng-click="homeCtrl.toggleSkill(skill['short'], $event); homeCtrl.setArrays()"><i>{{ skill['full'] }}</i></span><span ng-show="!$last" style="color: #aaaaaa"> - </span>
      </span>
    </div>  
  </div>

  <div>
    <div class="module">
      <!-- project selection -->
      <div class="proj-container">
        <ul>
          <li class="proj-tile" ng-repeat="proj in homeCtrl.showProj">
            <div class="proj-tile-img-container" ng-click="homeCtrl.setProj(proj.name)" ng-repeat="img in proj.images" ng-class="{{$index > 0}} ? 'hide-img' : 'show-img'">
              <a href="{{ img.url }}" data-lightbox="{{ proj.name }}" data-title="{{ proj.name }}"><img class="proj-tile-img" ng-src="{{ img.url }}"></a>
            </div> 
         </li>
        </ul>
      </div>
    </div>
  </div>
</md-content>

<script>
  $(document).ready(function(){
    $('#showSkills').click(function(){
      $('.skill-checks').change(function(){
        if($('.skill-checks.ng-not-empty').length == 0){
          $(".indiv-a-wrapper").remove();
        }
      })
    })
  });
</script>