<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Erik,</p><br>
    <p><%= raw @msg.gsub("\n", "<br>") %></p><br>
    <p><%= @name %><br><%= @email %></p>
  </body>
</html>