<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Erik,</p><br>
    <% @msg.split("\n").each do |m| %>
      <p><%= m %></p><br>
    <% end %>
    <p><%= @name %><br><%= @email %></p>
  </body>
</html>