#first-parallax {
	width: 100%;
	min-height: 600px;
}

.active-skill {
	color: white;
	text-shadow: 0 0 3px white;
}

.inactive-skill {
	color: #555555;
}

.active-skill:focus, .inactive-skill:focus {
	outline: none
}

.active-skill:hover, .inactive-skill:hover {
	cursor: pointer;
}

#main {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #070C1F, #cccccc); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #070C1F, #cccccc); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #070C1F, #cccccc); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #070C1F, #cccccc); /* Standard syntax */
}

#skills {
	width: 100%;
	position: relative;
	padding-top: 10px;
}
#skill-container {
	position: relative;
	width: 300px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	border: 1px solid darkblue;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.module {
	width: 100%;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	margin-top: 5px;
	margin-bottom: 5px;
}

.proj-tile {
	display: inline-block;
	margin-bottom: 25px;
}

.proj-tile-img-container {
	width: 400px; 
	height: 225px; 
	border-radius: 10px;
	margin-right: 25px;
	overflow: hidden;
}

.proj-tile-img {
	height: 100%;
	width: auto;
}

.show-img {
}

.hide-img {
	display: none;
}