@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

.relative-wrap {
  /*relative on second parent*/
  position: relative;
}

.overflow-wrap {
  /*no relative on immediate parent*/
}
.popover {
  width: 80%;
  margin-left: 25%;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  position: absolute; 
  top: -50px;
  z-index: 1000; 
  opacity: 0.7;
  background-color: #444444;
  color: white;
  display: none;
  white-space: normal;
  pointer-events: none;
  border-radius: 5px;
  border: 2px solid red;
  box-shadow: 5px 5px 1px black;
  max-width: 1000px !important;
}

.edit-link {
  color: blue;
}
.edit-link:hover {
  color: lightblue;
}

/******************/
/* Pagination CSS */
/******************/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/**********************/
/* End Pagination CSS */
/**********************/

/**************/
/* Browse CSS */
/**************/

.browse-items{
  width: 200px;
  padding-right: 25px;
  color: #3366BB;
  cursor: pointer;
  list-style-type: none;
  float: left;
  text-align: left;
}

.browse-header{
  font-size: 20px;
}

/******************/
/* End Browse CSS */
/******************/

/************/
/* Tabs CSS */
/************/

section{
  text-align:center;
}
div.tabs {
  text-align:center;
	padding: 7px 11px;
	background-color: rgb(248,248,248);
}
span.tabs {
  border-radius:0px;
  border: solid 1px rgb(80,80,80);
	background-color: rgb(200,200,200);
	padding: 10px 19px;
	margin: 5px 1px 5px 1px;
	color: black;
}
span.tabs:hover, span.tabs:hover a {
	background-color: rgb(90,200,90) !important;
	color:white;
}
span.tabs a {
	text-decoration: none;
	color: white;
	font-size: 21px;
	font-style: italic;
	text-shadow: 1px 0px 3px rgb(157, 157, 157);
}
span.tabs:nth-child(1) { border-radius: 20px 0px 0px 20px; margin-left: 1px;}
span.tabs:nth-child(4) { border-radius: 0px 20px 20px 0px;}
.active {
	background-color: rgb(6,179,6) !important;
}

/****************/
/* End Tabs CSS */
/****************/

.md-icon-float{
  margin: 0px 0px 0px 0px !important;
  width: 500px !important;
}

.md-input-container{
  width: 500px !important;
}

.select-box{
  margin-top: 0px !important;
  margin-bottom: 24px !important;
  width: 500px !important;
}

/****************
* Button styles *
****************/

.pending{
  background-color: yellow;
  color: black;
}

.success{
  background-color: green;
  color: black;
}

.failure{
  background-color: darkred;
  color: black;
}

/****************
* Filter Inputs *
****************/
.filter-search{
  max-width:150px;
}
.rpp{
  max-width:120px;
}