<!DOCTYPE html>
<html>
  <head>
    <title>Erik Gibbons</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    
    
    <base href="/">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Load cover images first -->
    <% Dir.entries('app/assets/images').select {|entry| File.directory? File.join('app/assets/images',entry) and !(entry =='.' || entry == '..') }.each do |img| %>
      <img src="<%= image_url(img + "/00. Title.png") %>" hidden>
    <% end %>
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.js"> </script>
    
    <!-- Lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"> </script>
    
    <!-- Angular Material Icons -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.0/angular-material-icons.min.js"></script>
    
    <!-- Angular-UI Bootstrap -->
    <script data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.min.js"></script>
    
    <!-- Shadow Animation -->
    <script src="//cdn.jsdelivr.net/jquery.shadow-animation/1/mainfile"></script>
    
    <!-- Angular-chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.0.0/angular-chart.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>

    <!-- Angular Material -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

    <!-- Fonts and Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

    <!-- Galleria -->
    <!--<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.css">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.js"></script>-->
    
    <!--PhotoSwipe-->
    <!--<script src="https://rawgit.com/m00s/angular-photoswipe/master/angular-photoswipe.min.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe-ui-default.min.js"></script>-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/photoswipe.css">-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.0/default-skin/default-skin.css">-->
    
    <!--NG Image Gallery-->
    <!--<script src="assets/ng-image-gallery/dist/ng-image-gallery.min.js"></script> -->
    <!--<link href="assets/ng-image-gallery/dist/ng-image-gallery.min.css" rel="stylesheet" type="text/css">-->
    
    <!--Gambarize-->
    <!--<script src="https://gambarize.klickagent.ch/cdn/0.3/js/gambarize.js" type="text/javascript"></script>-->
    <!--<link rel="stylesheet" href="https://gambarize.klickagent.ch/cdn/0.3/style/gambarize.css.php?noreset=1" type="text/css" media="all" />-->
    
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body ng-app="ErikGibbons" layout="column" flex ng-strict-di data-no-turbolink="true" id="main">
    <md-content ng-cloak flex layout="column" id="content">
      <div ui-view="main" layout="column" style='display: block; padding-bottom:50px'></div>
    </md-content>
    
        
    <!-- Lightbox2 -->
    <!--<script src="assets/node_modules/lightbox2/src/js/lightbox.js"></script>-->
    <!--<link type="text/css" rel="stylesheet" href="src/css/lightbox.css">-->
    
    
  </body>
</html>